{% load staticfiles %}


<head>
<meta charset="utf-8">
<title>RentaCar - Аренда автомобилей</title>
<link rel="stylesheet" href="https://brainsite.ru/static/css/style.min.css">
    <link rel="stylesheet" href="https://brainsite.ru/static/vendor/fontawesome-free/css/all.min.css">
        <link rel="icon" href="https://brainsite.ru/static/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" type="image/x-icon" href="https://brainsite.ru/static/images/favicon.png">




<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0">

<h1>&nbsp;</h1>
<img src="https://brainsite.ru/static/images/logo.png">
<h1 style="color: #77809A;">RentaCar - Аренда автомобилей</h1>
<h2>Подтверждение заказа</h2>
<h3>Вами была оформлена аренда автомобиля {{ list_cart.name_car_en }} год выпуска: {{ list_cart.born_year }}</h3>
<p>&nbsp;</p>




</body>

